{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<h1>Créer un compte</h1>

{{ form_start(registrationForm) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword) }}
<button type="submit">S'inscrire</button>
{{ form_end(registrationForm) }}

<a href="{{ path('app_login') }}">Déjà un compte ? Connectez-vous</a>
{% endblock %}
